*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 28px;
  top: 30px;
  width: 432px;
  height: 120px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 28px;
  top: 179px;
  width: 662px;
  height: 80px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 444px;
  top: 260px;
  width: 242px;
  height: 452px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s5 {
	position: absolute;
  left: 40px;
  top: 290px;
  width: 467px;
  height: 437px;
	animation: zoomIn 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	transform-origin: right;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 110px;
  top: 536px;
  width: 156px;
  height: 109px;
	animation: flashLongOn 2s infinite;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 576px;
  top: 314px;
  width: 430px;
  height: 109px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
  position: absolute;
  left: 700px;
  top: 476px;
  width: 304px;
  height: 63px;
  	animation: fadeInRight 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
  z-index: 5;
}

.s9 {
  position: absolute;
  left: 700px;
  top: 609px;
  width: 316px;
  height: 41px;
  	animation: fadeInRight 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
  z-index: 5;
}

.s10 {
	position: absolute;
  left: 259px;
  top: 345px;
  width: 43px;
  height: 34px;
	animation: flashLongOn 1s infinite;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 10;
}


.spot1 {
	position: absolute;
  left: 682px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 757px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 832px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 906px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 980px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 25px;
  top: 279px;
  width: 431px;
  height: 381px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 612px;
  top: 282px;
  width: 446px;
  height: 416px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@keyframes revealVerticalUp {
  0% {
    clip: rect(160px,270px,160px,0px);
  }
  
  100% {
    clip: rect(0px,270px,160px,0px);
  }
}

@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,125px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,315px,125px,0px);
	opacity: 1;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}