*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 28px;
  top: 30px;
  width: 432px;
  height: 120px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 27px;
  top: 187px;
  width: 747px;
  height: 57px;
	animation: fadeInLeft 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 50px;
  top: 265px;
  width: 980px;
  height: 486px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 153px;
  top: 358px;
  width: 210px;
  height: 155px;
	animation: zoomIn 0.5s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 436px;
  top: 319px;
  width: 200px;
  height: 193px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 710px;
  top: 321px;
  width: 220px;
  height: 192px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 283px;
  top: 560px;
  width: 218px;
  height: 196px;
	animation: zoomIn 0.5s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 570px;
  top: 562px;
  width: 198px;
  height: 195px;
	animation: zoomIn 0.5s;
	animation-delay: 1.6s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.spot1 {
	position: absolute;
  left: 682px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 757px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 832px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 906px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 980px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}