*{
	margin: 0px;
	padding: 0px;
}

.s7_1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s7_2 {
	position: absolute;
  left: 78px;
  top: 303px;
  width: 337px;
  height: 280px;
	animation: fadeInRightBig 0.8s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_3 {
	position: absolute;
  left: 496px;
  top: 310px;
  width: 507px;
  height: 319px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_4 {
	position: absolute;
  left: 592px;
  top: 419px;
  width: 372px;
  height: 135px;
  clip: rect(140px,380px,140px,0px);
	animation: revealVerticalRev 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_5 {
	position: absolute;
  left: 484px;
  top: 309px;
  width: 148px;
  height: 195px;
	animation: backInRight 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_6 {
	position: absolute;
  left: 635px;
  top: 309px;
  width: 148px;
  height: 195px;
	animation: backInRight 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_7 {
	position: absolute;
  left: 788px;
  top: 309px;
  width: 148px;
  height: 195px;
	animation: backInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7_8 {
	position: absolute;
  left: 331px;
  top: 517px;
  width: 605px;
  height: 136px;
	animation: zoomInDown 1s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s7_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s7_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@keyframes revealVerticalRev {
  0% {
    clip: rect(140px,380px,140px,0px);
  }
  
  100% {
    clip: rect(0px,380px,140px,0px);
  }
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}