*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 95px;
  top: 45px;
  width: 890px;
  height: 63px;
	animation: fadeInUp 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 326px;
  top: 163px;
  width: 314px;
  height: 543px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s4 {
	position: absolute;
  left: 560px;
  top: 203px;
  width: 230px;
  height: 504px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s5 {
	position: absolute;
  left: 12px;
  top: 154px;
  width: 495px;
  height: 537px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: right;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 633px;
  top: 235px;
  width: 430px;
  height: 469px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	transform-origin: left;
	z-index: 10;
}

.s7 {
	position: absolute;
  left: 72px;
  top: 395px;
  width: 844px;
  height: 200px;
  	animation: flashLongOn 1.5s infinite;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 250px;
  top: 309px;
  width: 43px;
  height: 34px;
	animation: flashLongOn 1s infinite;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	z-index: 10;
}

.spot1 {
	position: absolute;
  left: 682px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 757px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 832px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 906px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 980px;
  top: 0px;
  width: 72px;
  height: 80px;
	z-index: 12;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 20px;
  top: 137px;
  width: 394px;
  height: 475px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 612px;
  top: 282px;
  width: 446px;
  height: 416px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@keyframes revealVerticalUp {
  0% {
    clip: rect(160px,270px,160px,0px);
  }
  
  100% {
    clip: rect(0px,270px,160px,0px);
  }
}

@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,125px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,315px,125px,0px);
	opacity: 1;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
}