*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 40px;
  top: 46px;
  width: 544px;
  height: 138px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 118px;
  top: 266px;
  width: 218px;
  height: 469px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 410px;
  top: 262px;
  width: 567px;
  height: 67px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 10;
}

.s5 {
	position: absolute;
  left: 491px;
  top: 345px;
  width: 426px;
  height: 29px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 459px;
  top: 343px;
  width: 23px;
  height: 28px;
	animation: upDown 1s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.nav {
  position: absolute;
  left: 30px;
  top: 384px;
  width: 1020px;
  height: 42px;
	animation: flashLongOn 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
  z-index: 5;
}


/* Original Slider */

.image-comparison-container-1 {
    position: absolute;
	left: 515px;
	top: 389px;		
    width: 375px; /* Set the maximum width */
    height: 336px; /* Set the height */
    overflow: none;
	z-index: 10;
}

#compareCanvas {
      display: block;
      touch-action: none;
    }

/* Expanded Slider */

.black-Backdrop {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 30;
}

.image-comparison-container-2 {
    position: absolute;
	left: 167px;
	top: 71px;		
    width: 747px; /* Set the maximum width */
    height: 669px; /* Set the height */
    overflow: none;
	display: none;
	z-index: 30;
}

.image-comparison-img-2 {
    position: absolute;
    width: 747px; /* Set the maximum width */
    height: 669px; /* Set the height */
    object-fit: cover;
}

.image-comparison-img-2:nth-child(2) {
    clip: rect(0, 130px, 700px, 0); /* Adjust the initial clip size */
}

.slider-2 {
    position: absolute;
    width: 5px;
    height: 100%;
    background: #fff;
    cursor: ew-resize;
    left: 130px; /* Start position for the slider */
    z-index: 30;
}

@keyframes upDown {
  0% {  
	left: 459px;
	top: 343px;
	width: 23px;
	height: 29px;
	opacity: 1;
  }
  
  50% {
	left: 459px;
	top: 350px;
	width: 23px;
	height: 29px;
	opacity: 1;
  }
  
  100% {  
	left: 459px;
	top: 343px;
	width: 23px;
	height: 29px;
	opacity: 1;
  }
}

.goleft {
  position: absolute;
  left: 0px;
  top: 327px;
  width: 114px;
  height: 156px;
  z-index: 25;
}

.goright {
  position: absolute;
  left: 966px;
  top: 327px;
  width: 114px;
  height: 156px;
  z-index: 25;
}

.gohome {
	position: absolute;
  left: 0px;
  top: 64px;
  width: 588px;
  height: 179px;
	z-index: 12;
}

.spot1 {
	position: absolute;
  left: 395px;
  top: 0px;
  width: 95px;
  height: 46px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 493px;
  top: 0px;
  width: 95px;
  height: 46px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 590px;
  top: 0px;
  width: 95px;
  height: 46px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 687px;
  top: 0px;
  width: 74px;
  height: 46px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 764px;
  top: 0px;
  width: 74px;
  height: 46px;
	z-index: 12;
}

.spot6 {
	position: absolute;
  left: 840px;
  top: 0px;
  width: 78px;
  height: 46px;
	z-index: 12;
}

.spot7 {
	position: absolute;
  left: 920px;
  top: 0px;
  width: 66px;
  height: 46px;
	z-index: 12;
}

.spot8 {
	position: absolute;
  left: 989px;
  top: 0px;
  width: 91px;
  height: 46px;
	z-index: 12;
}

.study {
  position: absolute;
  left: 50px;
  top: 717px;
  width: 104px;
  height: 49px;
  z-index: 20;
}

.posology {
  position: absolute;
  left: 158px;
  top: 717px;
  width: 104px;
  height: 49px;
  z-index: 20;
}


.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1080px;
  height: 810px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 0px;
  top: 272px;
  width: 634px;
  height: 448px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 635px;
  top: 344px;
  width: 445px;
  height: 303px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 20;
}


@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}