*{
	margin: 0px;
	padding: 0px;
}

.nav {
	position: absolute;
  left: 271px;
  top: 0px;
  width: 798px;
  height: 29px;
	z-index: 2;
}

.spot1 {
	position: absolute;
  left: 267px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot2 {
	position: absolute;
  left: 382px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot3 {
	position: absolute;
  left: 497px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot4 {
	position: absolute;
  left: 612px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot5 {
	position: absolute;
  left: 727px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot6 {
	position: absolute;
  left: 842px;
  top: 0px;
  width: 115px;
  height: 43px;
	z-index: 15;
}

.spot7 {
  position: absolute;
  left: 957px;
  top: 0px;
  width: 115px;
  height: 43px;
  z-index: 15;
}


.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 367px;
  top: 207px;
  width: 346px;
  height: 329px;
	animation: slideInUp 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 164px;
  top: 457px;
  width: 266px;
  height: 281px;
	animation: fadeInLeft 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 413px;
  top: 510px;
  width: 259px;
  height: 277px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 651px;
  top: 455px;
  width: 269px;
  height: 275px;
	animation: fadeInRight 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 239px;
  top: 195px;
  width: 602px;
  height: 50px;
	animation: none 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 10;
}

.s7wrap {
	position: absolute;
  left: 397px;
  top: 273px;
  width: 173px;
  height: 70px;
	animation: fadeIn 0.5s;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 173px;
  height: 70px;
	animation: pulse 1s infinite;
	animation-delay: 4s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 488px;
  top: 446px;
  width: 109px;
  height: 85px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 660px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 2.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 682px;
  top: 446px;
  width: 118px;
  height: 78px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 856px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 3.4s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 871px;
  top: 446px;
  width: 125px;
  height: 109px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 3.8s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 1051px;
  top: 272px;
  width: 155px;
  height: 155px;
	animation: bounceIn 0.3s;
	animation-delay: 4.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 1060px;
  top: 446px;
  width: 145px;
  height: 80px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 4.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}