*{
	margin: 0px;
	padding: 0px;
}

video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 650px;
  height: 366px;
  z-index: 82;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 40px;
  top: 46px;
  width: 581px;
  height: 194px;
	animation: fadeInRight 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3 {
	position: absolute;
  left: 40px;
  top: 261px;
  width: 222px;
  height: 41px;
	animation: fadeInUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 42px;
  top: 339px;
  width: 326px;
  height: 331px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 10;
}

.s5 {
	position: absolute;
  left: 398px;
  top: 322px;
  width: 650px;
  height: 366px;
	animation: zoomIn 0.5s;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 143px;
  top: 659px;
  width: 150px;
  height: 52px;
	animation: flashLongOn 2s infinite;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 3;
}

.s7 {
	position: absolute;
  left: 573px;
  top: 269px;
  width: 403px;
  height: 51px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s8 {
	position: absolute;
  left: 625px;
  top: 353px;
  width: 270px;
  height: 295px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9 {
	position: absolute;
  left: 489px;
  top: 373px;
  width: 559px;
  height: 263px;
	animation: zoomIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 10;
}

.s10 {
	position: absolute;
  left: 575px;
  top: 305px;
  width: 480px;
  height: 100px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s11 {
	position: absolute;
  left: 585px;
  top: 416px;
  width: 78px;
  height: 253px;
	animation: zoomIn 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s12 {
	position: absolute;
  left: 715px;
  top: 413px;
  width: 81px;
  height: 256px;
	animation: zoomIn 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s13 {
	position: absolute;
  left: 828px;
  top: 432px;
  width: 89px;
  height: 237px;
	animation: zoomIn 0.5s;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.s14 {
	position: absolute;
  left: 938px;
  top: 432px;
  width: 88px;
  height: 237px;
	animation: zoomIn 0.5s;
	animation-delay: 2.1s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

.gohome {
	position: absolute;
  left: 0px;
  top: 64px;
  width: 588px;
  height: 179px;
	z-index: 12;
}

.spot1 {
	position: absolute;
  left: 395px;
  top: 0px;
  width: 95px;
  height: 46px;
	z-index: 12;
}

.spot2 {
	position: absolute;
  left: 493px;
  top: 0px;
  width: 95px;
  height: 46px;
	z-index: 12;
}

.spot3 {
	position: absolute;
  left: 590px;
  top: 0px;
  width: 95px;
  height: 46px;
	z-index: 12;
}

.spot4 {
	position: absolute;
  left: 687px;
  top: 0px;
  width: 74px;
  height: 46px;
	z-index: 12;
}

.spot5 {
	position: absolute;
  left: 764px;
  top: 0px;
  width: 74px;
  height: 46px;
	z-index: 12;
}

.spot6 {
	position: absolute;
  left: 840px;
  top: 0px;
  width: 78px;
  height: 46px;
	z-index: 12;
}

.spot7 {
	position: absolute;
  left: 920px;
  top: 0px;
  width: 66px;
  height: 46px;
	z-index: 12;
}

.spot8 {
	position: absolute;
  left: 989px;
  top: 0px;
  width: 91px;
  height: 46px;
	z-index: 12;
}

.study {
  position: absolute;
  left: 50px;
  top: 717px;
  width: 104px;
  height: 49px;
  z-index: 20;
}

.posology {
  position: absolute;
  left: 158px;
  top: 717px;
  width: 104px;
  height: 49px;
  z-index: 20;
}


.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1080px;
  height: 810px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 0px;
  top: 272px;
  width: 634px;
  height: 448px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 635px;
  top: 344px;
  width: 445px;
  height: 303px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 368px;
  top: 434px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 513px;
  top: 503px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	display: none;
	z-index: 20;
}

@keyframes revealVerticalUp {
  0% {
    clip: rect(250px,300px,250px,0px);
  }
  
  100% {
    clip: rect(0px,300px,250px,0px);
  }
}

@keyframes flashLongOn {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes revealVerticalDown {
  0% {
    clip: rect(0px,600px,0px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,700px,0px);
	opacity: 1;
  }
}