*{
	margin: 0px;
	padding: 0px;
}

.s8_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s8_2 {
	position: absolute;
  left: 148px;
  top: 248px;
  width: 784px;
  height: 422px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s8_3 {
	position: absolute;
  left: 228px;
  top: 398px;
  width: 517px;
  height: 211px;
  clip: rect(0px,0px,220px,0px);
	animation: revealHorizontal 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s8_3_wrap {
	position: absolute;
  left: 279px;
  top: 595px;
  width: 130px;
  height: 131px;
  overflow: hidden;
	z-index: 4;
}

.s8_4 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 382px;
  height: 126px;
	animation: slideInUp 0.5s;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s8_4_wrap {
	position: absolute;
  left: 608px;
  top: 595px;
  width: 137px;
  height: 130px;
    overflow: hidden;
	z-index: 4;
}

.s8_vid1 {
  position: absolute;
  left: 222px;
  top: 250px;
  width: 580px;
  height: 326px;
  z-index: 80;
}


@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,220px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,520px,220px,0px);
	opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}